html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  background-color: #1e1f1f;
  color: #fff9f0;
  height: 18%;
}

.contact-info {
  font-size: 11px;
}

#address {
  margin-top: 10px;
}

.header-links {
  color: #fff9f0;
  font-family: helvetica;
  font-size: 24px;
  text-decoration: none;
}

.header-links:hover {
  color: #fff9f0;
  text-decoration: none;
}

.logo {
  padding-left: 15%;
  max-width: 80%;
  margin-top: -2%;
}

.icon-wrapper {
  margin-top: 19%;
  margin-left: 32%;
}

.scl-med-icons {
  color: inherit;
}

.scl-med-icons:hover {
  color: #fff9f0;
}

#custmzed-navbar {
  background-color: #1e1f1f;
  border-radius: 0;
}

.intro-header {
  color: #1e1f1f;
  font-family: Georgia;
  font-family: Sancreek;
  padding-top: 4%;
  font-size: 1vh 1vw;
}

.intro-body {
  text-align: justify;
  width: 53%;
}
