html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  background-color: #1e1f1f;
  color: #fff9f0;
  height: 25%;
}

.contact-info {
  font-size: 11px;
}

#address {
  margin-top: 10px;
}

.header-links {
  color: #fff9f0;
  font-family: helvetica;
  font-size: 24px;
  text-decoration: none;
}

.header-links:hover {
  color: #fff9f0;
  text-decoration: none;
}

.logo {
  padding-left: 15%;
  max-width: 55%;
  margin-top: -1%;
}

.intro-header {
  color: #1e1f1f;
  font-family: Georgia;
  font-family: Sancreek;
  padding-top: 4%;
  font-size: 1vh 1vw;
}

.intro-body {
  text-align: justify;
  width: 53%;
}
