html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

header {
  background-color: #1e1f1f;
  color: #fff9f0;
  height: 18%;
}

.contact-info {
  font-size: 11px;
}

#address {
  margin-top: 10px;
}

.header-links {
  color: #fff9f0;
  font-family: helvetica;
  font-size: 1.35em;
  text-decoration: none;
}

.header-links:hover {
  color: #fff9f0;
  text-decoration: none;
}

.logo {
  padding-left: 15%;
  margin-top: 2%;
  max-width: 80%;
}

.scl-med-icons {
  color: #fff9f0;
}

.scl-med-icons:hover {
  color: #fff9f0;
}

#custmzed-navbar {
  background-color: #1e1f1f;
  border-radius: 0;
}

.intro-header {
  color: #1e1f1f;
  font-family: Georgia;
  font-family: Sancreek;
  padding-top: 4%;
  font-size: 1vh 1vw;
  padding-left: 30%;
  padding-bottom: 2%;
}

.intro-body {
  width: 90%;
  padding-left: 25%;
}

.media {
  padding-top: 35%;

}

.gallery-grid {
  padding-top: 5%;
}

.non-first-row {
  padding-top: 2%;
}

.intro-wrapper {
  position: relative;
  right: 3%;
  top: 5%;
}

#intro-slideshow {
  margin-top: 15%;
}
